body {
            font-family: Arial, sans-serif;
        }
        .hero {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1536x1024/?comics,store') no-repeat center center;
            background-size: cover;
        }