body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        .hero {
            background-image: url('https://unsplash.com/es/fotos/foto-timelapse-de-un-relampago--qWs2GFsyeg');
            background-size: cover;
            background-position: center;
        }